MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
BREVO_API_KEY=
EMAIL_FROM=
EMAIL_FROM_NAME=
CLIENT_URL=
NODE_ENV=
B2_KEY_ID=
B2_APP_KEY=
B2_BUCKET_ID=
BACKUP_CRON_ENABLED=
BACKUP_CRON_SCHEDULE=
BACKUP_TIMEZONE=
BACKUP_ALERT_EMAIL=
