@tailwind base;
@tailwind components;
@tailwind utilities;


.maplibregl-map {
  width: 100% !important;
  height: 100% !important;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #16171d;
  }
}